<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Личный кабинет компании {{ company.name }}
<br>
<p>
    <form  method="GET">
        <input type="submit" value="Профиль" formaction="{% url 'company_profile' %}">
    <p>
        <button type="submit" formaction="{% url 'home' %}">Главная</button>
    </form>
<br>
    <a href="{% url 'company_product_add' %}">Добавить продукт</a>
<p>
    <a href="{% url 'company_response' %}">Отклики на продукты</a>
<br>
<table style="font-size: 125%; position: absolute; top: 35%; left: 30%">
      {% for prod, count in prod_count %}
         <tr>
             <td> <a href="{% url 'company_product_edit' prod.id %}"> {{ prod.name }} </a> &nbsp&nbsp&nbsp&nbsp</td>
          <td>{% if count %} {{ count }} {% else %} 0 &nbsp&nbsp&nbsp&nbsp {% endif %}</td>
         </tr>
      {% endfor %}
</table>
</body>
</html>