{% extends 'base.html' %}
{% block title %}Редактировать продукт{% endblock %}
{% block content %}

<table cellpadding="5px" width="100%" border="0">
    <tr>
        <td width="50%" align="left" style="font-size: 150%; color: blue;">Форма редактирования продукта</td>
        <td align="right" valign="top" style="font-size: 100%;">
            <a href="{% url 'company_response' %}">Отклики </a>|
            <a href="{% url 'company' %}">Домой </a>|
            <a href="{% url 'home' %}">На главную</a>
        </td>
    </tr>
</table>

    <form method="POST" style="margin: 15px">
        {% csrf_token %}
        {% for field in form %}
          <span class="label-hm"> {{field.label_tag}} </span> <br>
          {{field}} <br>
          <div class="form-error">{{ field.errors }}</div>
        {% endfor %}
    <br>
    <button class="btn-lg" type="submit">Сохранить</button>
    <button class="btn-lg" type="submit" formaction="{% url 'company_product_delete' company_product.id %}">Удалить</button>
    </form>

{% endblock %}