<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Личный кабинет компании {{ company }}
<br>

    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Название компании</label><br>
            <input type="text" name="name" value="{{company.name}}" />
        </p>
        <p>
            <label>Описание компании</label><br>
            <input type="text" name="description" value="{{company.description}}" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>

</body>
</html>