{% extends 'base.html' %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}

<table cellpadding="5px" width="100%" border="0">
    <tr>
        <td width="50%" align="left" style="font-size: 150%; color: blue;">Личный кабинет компании <b>{{ company.name }}</b></td>
        <td align="right" valign="top" style="font-size: 100%;">
            <a href="{% url 'company_product_add' %}">Добавить продукт </a>|
            <a href="{% url 'company_response' %}">Отклики </a>|
            <a href="{% url 'company_profile' %}">Профиль </a>|
            <a href="{% url 'home' %}">На главную</a>
        </td>
    </tr>
</table>

<table style="font-size: 125%; position: absolute; top: 20%; left: 35%">
        <thead>
        <tr>
          <td colspan="2" align="center" height="50px">
           <div style="font-size: 120%; color: blue; font-weight: normal">Сводка по продуктам</div>
          </td>
        </tr>
         <tr style="font-weight: bold">
          <td width="250px">Продукт</td>
          <td width="100px">Просмотры</td>
         </tr>
        </thead>
       {% for prod, count in prod_count %}
         <tr>
             <td> <a href="{% url 'company_product_edit' prod.id %}"> {{ prod.name }} </a> &nbsp&nbsp&nbsp&nbsp</td>
          <td>{% if count %} {{ count }} {% else %} 0 &nbsp&nbsp&nbsp&nbsp {% endif %}</td>
         </tr>
      {% endfor %}
</table>

{% endblock %}