{% extends 'base.html' %}
{% block title %}Профиль компании{% endblock %}
{% block content %}

<table cellpadding="5px" width="100%" border="0">
    <tr>
        <td width="50%" align="left" style="font-size: 150%; color: blue;">Профиль компании <b>{{ company.name }}</b></td>
        <td align="right" valign="top" style="font-size: 100%;">
            <a href="{% url 'company_product_add' %}">Добавить продукт </a>|
            <a href="{% url 'company_response' %}">Отклики </a>|
            <a href="{% url 'company' %}">Домой </a>|
            <a href="{% url 'home' %}">На главную</a>
        </td>
    </tr>
</table>


    <form method="POST" style="margin: 15px">
        {% csrf_token %}
         {% for field in company_form %}
        <br>
          <span class="label-hm"> {{field.label_tag}} </span>
          <div> {{field}} </div>
          {{field.errors}}
        {% endfor %}
        <br>
        <button class="btn" type="submit">Сохранить</button>
    </form>

{% endblock %}