{% extends 'base.html' %}

{% block content %}
      <div style="font-size: 250%; color: blue; position: absolute; top: 10%; left: 35%">Список продуктов компаний</div>
<form action="" method="get">
       {% csrf_token %}
        <span style="font-size: 125%; position: absolute; top: 70%; left: 30%">{{filter_form}}</span>
        <input style="font-size: 110%; position: absolute; top: 70%; right: 40%" type="submit" value="Ok"/>
</form>

    <table style="font-size: 125%; position: absolute; top: 30%; left: 30%">
         <tr>
          <td>Тип &nbsp&nbsp&nbsp&nbsp</td>
          <td>Продукт &nbsp&nbsp&nbsp&nbsp</td>
          <td>Ставка &nbsp&nbsp&nbsp&nbsp</td>
          <td>Период &nbsp&nbsp&nbsp&nbsp</td>
          <td>Компания</td>
         </tr>
      {% for element in products %}
         <tr>
          <td>{{ element.type }} &nbsp&nbsp&nbsp&nbsp</td>
          <td>{{ element.name }} &nbsp&nbsp&nbsp&nbsp</td>
          <td>{{ element.rate }} &nbsp&nbsp&nbsp&nbsp</td>
          <td>{{ element.period }} &nbsp&nbsp&nbsp&nbsp</td>
          <td>{{ element.company }}</td>
         </tr>
        <tr>
        </tr>
      {% endfor %}
    </table>
{% endblock %}


